@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;

    }
}

//Media Query Manager

// 0 - 600 - Phone
// 600 - 900 Tablet portrait
// 900 - 1200 Tablet landscape
// 1200 - 1800 My style applies
// 1800+ Big desktops


@mixin respond($break-point) {
    @if $break-point == phone {
        @media (max-width: 600px) {@content};
    }

    @if $break-point == tab-port {
        @media (max-width: 900px) {@content};
    }

    @if $break-point == tab-land {
        @media (max-width: 1200px) {@content};
    }

    @if $break-point == big-desktop {
        @media (min-width: 1800px) {@content};
    }
   
    @if $break-point == iphone-5 {
        @media (min-width: 320px) and (max-width: 600px) {@content};
    }
    
     
}